/*
!/usr/
/usr/*/
!/usr/sbin/
/usr/sbin/*
!/usr/sbin/wlt*

!/var/
/var/*
/var/*/
!/var/www/
!/var/www/*
!/var/www/*/
!/var/node-server
!/var/node-server/server/
var/node-server/server/certs
var/node-server/WLANThermo_jade