/.forever
/bin
/boot
/boot.bak
/dev
/etc
/home
/lib
/lost+found
/media
/mnt
/opt
/proc
/root
/run
/sbin
/selinux
/srv
/sys
/tmp
/usr
!/usr/sbin/
/usr/sbin/*.*
!/usr/sbin/wlt*.*

/var
!/var/www/node-server